@font-face {
  font-family: "GothamRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"); }
@font-face {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype"); }
@font-face {
  font-family: "GothamLight";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype"); }
@font-face {
  font-family: "Flaticons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Flaticon/flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon/flaticon.woff") format("woff"), url("../fonts/Flaticon/flaticon.ttf") format("truetype"); }
